@font-face {
  font-family: "NerdFontsSymbols";
  src: url("https://www.nerdfonts.com/assets/fonts/Symbols-2048-em%20Nerd%20Font%20Complete.woff2")
    format("woff2");
  font-display: swap;
  font-style: normal;
  font-weight: normal;
}

.post-header .post-title {
  font-size: calc(2.5rem - 1pt);
}

.post article h2 {
  font-size: calc(2rem - 1pt);
}

#search-toggle .nav-link,
#search-toggle .nav-link i,
#light-toggle i {
  font-size: 1rem;
  line-height: 1;
}

#search-toggle .nav-link {
  font-size: 0;
}

#search-toggle .nav-link i {
  position: relative;
  top: 2px;
}

.fa-magnifying-glass::before,
.fa-half-sun-moon::before,
#light-toggle .fa-moon::before {
  font-family: "NerdFontsSymbols";
  font-style: normal;
  font-weight: normal;
}

.fa-magnifying-glass::before {
  content: "\ea6d";
}

.fa-half-sun-moon::before {
  content: "\f4ee";
  clip-path: none;
}

#light-toggle .fa-moon::before {
  content: "\f4ee";
}

.fa-half-sun-moon::after {
  display: none;
}
